<!-- <link rel="stylesheet" href="/CSS/footer.css"> -->
<footer>
    <ul>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Copyright</a></li>
        <li><a href="#">Contact Us</a></li>
    </ul>
</footer>